# **<p style="color:Blue;">About The Dataset :</p>**
    
age: Age of the patient

sex: Sex of the patient

cp: Chest pain type, 0 = Typical Angina, 1 = Atypical Angina, 2 = Non-anginal Pain, 3 = Asymptomatic

trtbps: Resting blood pressure (in mm Hg)

chol: Cholestoral in mg/dl fetched via BMI sensor

fbs: (fasting blood sugar > 120 mg/dl), 1 = True, 0 = False

restecg: Resting electrocardiographic results, 0 = Normal, 1 = ST-T wave normality, 2 = Left ventricular hypertrophy

thalachh: Maximum heart rate achieved

oldpeak: Previous peak

slp: Slope

caa: Number of major vessels

thall: Thalium Stress Test result ~ (0,3)

exng: Exercise induced angina ~ 1 = Yes, 0 = No

output: Target variable

In [92]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

***Reading The Dataset***

In [93]:
heart=pd.read_csv('heart_dataset.csv')
heart.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [94]:
heart[heart.duplicated()]

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1

***Removing the duplicates***

In [95]:
heart.drop_duplicates(keep='first',inplace=True)

# **Data preprocessing**

**There's no need for categorical encoding**

In [96]:
x = heart.drop(['output'],axis=1)
y = heart[['output']]
x,y

(     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
 0     63    1   3     145   233    1        0       150     0      2.3    0
 1     37    1   2     130   250    0        1       187     0      3.5    0
 2     41    0   1     130   204    0        0       172     0      1.4    2
 3     56    1   1     120   236    0        1       178     0      0.8    2
 4     57    0   0     120   354    0        1       163     1      0.6    2
 ..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
 298   57    0   0     140   241    0        1       123     1      0.2    1
 299   45    1   3     110   264    0        1       132     0      1.2    1
 300   68    1   0     144   193    1        1       141     0      3.4    1
 301   57    1   0     130   131    0        1       115     1      1.2    1
 302   57    0   1     130   236    0        0       174     0      0.0    1

      caa  thall
 0      0      1
 1      0      2
 2      0      2
 3      0      2
 4      0      2
 ..   ...    ...
 298    0      3
 299    0      3
 300    2      3
 301    1      3
 302    1      2

 [302 rows x 13 columns],
      output
 0         1
 1         1
 2         1
 3         1
 4         1
 ..      ...
 298       0
 299       0
 300       0
 301       0
 302       0

 [302 rows x 1 columns])

**Splitting the dataset into training and testing data**

In [97]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state= 0)

In [98]:
print('Shape for training data', x_train.shape, y_train.shape)
print('Shape for testing data', x_test.shape, y_test.shape)

Shape for training data (241, 13) (241, 1)
Shape for testing data (61, 13) (61, 1)

**Feature Scaling**

In [99]:
x_train,x_test

(     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
 74    43    0   2     122   213    0        1       165     0      0.2    1
 153   66    0   2     146   278    0        0       152     0      0.0    1
 64    58    1   2     140   211    1        0       165     0      0.0    2
 296   63    0   0     124   197    0        1       136     1      0.0    1
 288   57    1   0     110   335    0        1       143     1      3.0    1
 ..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
 252   62    0   0     138   294    1        1       106     0      1.9    1
 193   60    1   0     145   282    0        0       142     1      2.8    1
 117   56    1   3     120   193    0        0       162     0      1.9    1
 47    47    1   2     138   257    0        0       156     0      0.0    2
 173   58    1   2     132   224    0        0       173     0      3.2    2

      caa  thall
 74     0      2
 153    1      2
 64     0      2
 296    0      2
 288    1      3
 ..   ...    ...
 252    3      2
 193    2      3
 117    0      3
 47     0      2
 173    2      3

 [241 rows x 13 columns],
      age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
 226   62    1   1     120   281    0        0       103     0      1.4    1
 152   64    1   3     170   227    0        0       155     0      0.6    1
 229   64    1   2     125   309    0        1       131     1      1.8    1
 202   58    1   0     150   270    0        0       111     1      0.8    2
 52    62    1   2     130   231    0        1       146     0      1.8    1
 ..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
 146   44    0   2     118   242    0        1       149     0      0.3    1
 302   57    0   1     130   236    0        0       174     0      0.0    1
 26    59    1   2     150   212    1        1       157     0      1.6    2
 108   50    0   1     120   244    0        1       162     0      1.1    2
 89    58    0   0     100   248    0        0       122     0      1.0    1

      caa  thall
 226    1      3
 152    0      3
 229    0      3
 202    0      3
 52     3      3
 ..   ...    ...
 146    1      2
 302    1      2
 26     0      2
 108    0      2
 89     0      2

 [61 rows x 13 columns])

In [117]:
model = LogisticRegression()
model.fit(x_train, y_train)
predicted=model.predict(x_test)
conf = confusion_matrix(y_test, predicted)
print ("Confusion Matrix : \n", conf)
print()
print()
print ("The accuracy of Logistic Regression is : ", accuracy_score(y_test, predicted)*100, "%")

Confusion Matrix :
 [[22  5]
 [ 4 30]]


The accuracy of Logistic Regression is :  85.24590163934425 %

c:\Users\amanv\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\amanv\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [118]:
import pickle

pickle.dump(model, open('regmodel.pkl', 'wb'))

models = pickle.load(open('regmodel.pkl', 'rb'))

In [102]:
#var=[[58,1,1,120,284,0,0,160,0,1.8,1,0,2]]
#scalers = StandardScaler()
#input_data = scaler.fit_transform(var)

In [120]:
models.predict([[54,1,0,110,239,0,1,126,1,2.8,1,1,3]])

c:\Users\amanv\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [111]:
x_test, y_test

(     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
 226   62    1   1     120   281    0        0       103     0      1.4    1
 152   64    1   3     170   227    0        0       155     0      0.6    1
 229   64    1   2     125   309    0        1       131     1      1.8    1
 202   58    1   0     150   270    0        0       111     1      0.8    2
 52    62    1   2     130   231    0        1       146     0      1.8    1
 ..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
 146   44    0   2     118   242    0        1       149     0      0.3    1
 302   57    0   1     130   236    0        0       174     0      0.0    1
 26    59    1   2     150   212    1        1       157     0      1.6    2
 108   50    0   1     120   244    0        1       162     0      1.1    2
 89    58    0   0     100   248    0        0       122     0      1.0    1

      caa  thall
 226    1      3
 152    0      3
 229    0      3
 202    0      3
 52     3      3
 ..   ...    ...
 146    1      2
 302    1      2
 26     0      2
 108    0      2
 89     0      2

 [61 rows x 13 columns],
      output
 226       0
 152       1
 229       0
 202       0
 52        1
 ..      ...
 146       1
 302       0
 26        1
 108       1
 89        1

 [61 rows x 1 columns])

var = [[58,1,1,120,284,0,0,160,0,1.8,1,0,2]]
ssss = my_scaler.transform(var)